.appFooter {
    background-color: white;
    width: calc(100vw - 2vh);
    height: 10vh;
    position: fixed;
    bottom: 0;
    padding: 0 4rem;
    z-index: 2;
}

.appFooter a {
    position: absolute;
    bottom: calc(5vh - 20px - 1rem); /*5vh: middle of footer hight, 20px: half of image height, 1rem: padding and border on one side*/
    display: flex;
    padding: 0.5rem;
    border: solid 0.5rem rgba(0, 0, 0, 0);
    border-radius: 50%;
}

.appFooter img {
    height: 40px;
    width: 40px;
}

#home {
    left: 3rem;
}

#profile {
    left: calc(50vw - 1vh - 20px - 1rem); /*50vw: middle of footer width, 1vh: left white border , 20px: half of image height, 1rem: padding and border on one side*/
}

#settings {
    right: 3rem;
}

/*---- animations and its class ----*/
.appFooter .active {
    position: absolute;
    padding: 0.5rem;
    background-color: #557CF3;
    border: solid 0.5rem #EAEFF8;
    border-radius: 50%;
    animation: activate 0.4s forwards;
}

@keyframes activate {
    100% { bottom: calc(10vh - 20px - 1rem); } /*8vh: footer hight, 20px: half of image height, 1rem: padding and border on one side*/
}