.decksForGames {
    margin-bottom: 8%;
    position: relative;
    border-radius: 10px;
}

.decksNavLinkContainerGames {
    text-decoration: none;
}

.cardGames {
    width: 100%;
    height: 5rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.heartContainerGames {
    position: absolute;
    display: flex;
    height: 30px;
    z-index: 1;
    top: calc(2.5rem - 15px); /* 2.5rem: half of deck height, 15px: half of own height*/
    left: 30px;
}

.heartContainerGames:hover {
    cursor: pointer;
}

.heartContainerGames img {
    height: 30px;
    width: 30px;
}

.backgroundContainerGames {
    position: absolute;
    display: flex;
    height: 4rem;
    z-index: 1;
    bottom: 0; /* 2.5rem: half of deck height, 15px: half of own height*/
    right: 0;
    overflow: hidden;
}