/*---- header ----*/
.homepageHeader {
    background-color: white;
    border-radius: 0 0 30px 30px;
    padding: 1.3rem 2rem;
    position: sticky;
    top: 0;
    width: 100%;
    max-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
}

.logoContainer {
    display: flex;
    height: 3rem;
    width: 20%;
}

.homepageHeader nav {
    gap: 1rem;
    display: flex;
    justify-content: space-between;
}

.homepageHeader nav > * {
    color: #06062F;
}

.homepageHeader nav > *:hover {
    color: #4a6dd6; /* rgba(51, 121, 194, 0.58) */
}

/*---- hero ----*/
.homepageWelcomeContainer {
    display: flex;
}

.homepageWelcomeContainerHeading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.homepageWelcomeContainerHeading h2 {
    margin-bottom: 1rem;
}

.homepageWelcomeContainerHeading h1 {
    /*background-image:linear-gradient(45deg,#6d91ff, #4b61a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    animation: flow 12s linear infinite;
    background:linear-gradient(60deg,#06062F 0%, #06062F 30%, rgba(51,121,194,0.58) 50%, #06062F 70%, #06062F 100%); /* (45deg,#28276A 0%, #557CF3 40%, #82A4F7 50%, #28276A 60%, #557CF3 100%) */
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes flow {
    0% {
        background-position: 0 50%;
    }
    25% {
        background-position: 0 50%;
    }
    55% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/*---- main Content ----*/
.homepageMainContentContainer {
  padding: 6% 6% 10vh;
}