.memoryContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 70%;
    margin: 2rem 0 1rem;
}

/*---- question Mark ----*/
.questionMarkMemory {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    right: 0.7rem;
    top: 0.7rem;
    height: 2rem;
    width: 2rem;
    border: 2px solid #06062F;
    border-radius: 50%;
    color: #06062F;
    transition: all 0.2s ease-in-out; 
}

.questionMarkMemory:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/*---- Card and card turning CSS ----*/
.memoryCard {
    display: flex;
    align-items: center;
    height: 23%;
    width: 24%;
    overflow: hidden;
    border-radius: 10px;
    font-size: 0.8rem;
    cursor: pointer;
    overflow: scroll;
    padding: 0.5rem;
}

.memoryCardWordShown {
    border: solid black 2px;
}

.blueBorder {
    border: solid rgb(91, 13, 226) 2px;
}

.cardImage {
    width: 100%;
}

/*---- rest ----*/
.memoryButtonContainer {
    width: 40%;
    max-height: 20%;
    display: flex;
    justify-content: space-between;
}

.memoryButton {
    border-radius: 10px;
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    transition: transform 250ms;
}

.memoryButton:hover {
    transform: translateY(-0.5rem);
}

.memoryButton img {
    height: 2rem;
    width: 2rem;
}

.memoryButtonGray {
    border-radius: 10px;
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
}

.memoryButtonGray img {
    height: 2rem;
    width: 2rem;
}

/*------------"Well Done" Message------------*/

.memorywrongMessageHidden {
    display: none;
}

.memorywrongMessageShown {
    display: block;
    position: absolute;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    width: 50%;
    bottom: calc(50% - 1.5rem);
    right: 25%;
    animation: fade ease 1400ms;
}

@keyframes fade {
    0% {
      opacity:0;
    }
    50% {
        opacity:1;
    }
    100% {
      opacity:0;
    }
}

/*------------Play again Section------------*/

.playAgainContainerMemory > div, .playAgainContainerMemory a {
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 30%;
    border-radius: 10px;
    background-color: white;
    color: #1D1E44;
    text-decoration: none;
    cursor: pointer;
}

.playAgainContainerMemory > div:hover, .playAgainContainerMemory a:hover {
    background-color: rgb(229, 229, 229);
}