/*---- if there are no decks to be fetchend ----*/
.noContentContainer {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.noContentImgContainer {
    display: flex;
    justify-content: center;
}

.noContentImgContainer img {
    height: 20vh;
    width: 20vh;
}

.addButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.addButton {
    background-color: #557CF3;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}

#addButtonDecks {
    margin: 0;
}

.addButton:hover {
    cursor: pointer;
}

/*---- if there are decks ----*/
.deck {
    margin-bottom: 8%;
    position: relative;
}

.decksNavLinkContainer {
    text-decoration: none;
}

.card {
    width: 100%;
    align-self: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 2% 10%;
    gap: 1rem;
}

.top {
    display: flex;
    border: 0;
    padding: 0;
    margin: 0;
    height: 2rem;
    overflow: hidden;
}

.bottom {
    display: flex;
    border: 0;
    padding: 0;
    margin: 0;
    height: 2.4rem;
    overflow: hidden;
}

.card h2 {
    color: white
}


.heartContainer {
    z-index: 1;
}

.heartContainer:hover {
    cursor: pointer;
}

.heartContainer img {
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 8px;
}

/*---- dot menu ----*/
.dotMenuContainer {
    display: none;
    position: absolute;
    justify-content: center;
    height: 30px;
    width: 30px;
    z-index: 1;
    top: calc(2rem - 15px); /* 2rem: half of deck height, 15px: half of own height*/
    right: 20px;
}

.dotMenuContainer:hover {
    cursor: pointer;
}

.dotMenuContainer img {
    border: 1px solid rgba(255, 255, 255, 0.0001);
    max-height: 30px;
    width: 100%;
    padding: 5px;
}

.dotMenuContainer img:hover {
    border: 1px solid white;
    border-radius: 50%;
}

/* DotMenu - Details */
.dotMenuDetailsContainer {
    display: none;
    position: absolute;
    justify-content: center;
    height: 20px;
    z-index: 1;
    top: calc(2rem - 10px + 10px + 1.5rem); /* 2rem: half of deck height, 15px: half of own height, 10px: half of .dotMenuContainer, 1.5rem: additional distance to dotMenu */
    right: 20px;
}

.dotMenuDetails {
    display: inherit;
    background-color: white;
    height: 100%;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dotMenuDetails:hover {
    animation: hover 0.2s forwards;
    cursor: pointer;
}

@keyframes hover {
    100% {
        background-color: #557CF3;
        color: white;
    }
}