/*---- if there are no decks to be fetchend ----*/
.noContentContainer {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.noContentImgContainer {
    display: flex;
    justify-content: center;
}

.noContentImgContainer img {
    height: 20vh;
    width: 20vh;
}

.addButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.addButton {
    background-color: #557CF3;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}

#addButtonDecks {
    margin: 0;
}

.addButton:hover {
    cursor: pointer;
}

/*---- if there are decks ----*/
.deck {
    margin-bottom: 8%;
    position: relative;
}

.decksNavLinkContainer {
    text-decoration: none;
}

.card {
    width: 100%;
    height: 4rem;
    align-self: center;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.card h2 {
    margin-left: 15%;
}

.heartContainer {
    position: absolute;
    display: flex;
    height: 30px;
    z-index: 1;
    top: calc(2rem - 15px); /* 2rem: half of deck height, 15px: half of own height*/
    left: 30px;
}

.heartContainer:hover {
    cursor: pointer;
}

.heartContainer img {
    height: 30px;
    width: 30px;
}