.card {
    width: 100%;
    height: 5rem;
    align-self: center;
    border-radius: 20px;
    margin-bottom: 6%;
    display: flex;
    align-items: center;
    padding: 0 10%;
    color: white;
}

.heartContainer {
    display: flex;
    margin-right: 10%;
}

.heartContainer img {
    height: 30px;
    width: 30px;
}