.pageNotFoundContainer {
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pageNotFoundContainer div {
    padding: 0.5rem;
    border-radius: 10px;
    color: white;
    margin-top: 1rem;
}

.pageNotFoundContainer div a {
    color: white;
    text-decoration: none;
}