.popup {
    background-color: rgba(6, 6, 47, 0.65); /* brighter option: rgba(255, 255, 255, 0.00001) */
    border: 2px solid white;
    border-radius: 20px;
    height: 50vh;
    width: 80vw;
    padding: 1rem;
    color: white;
    position: fixed;
    top: calc(50vh - 25vh); /* 50vh: half of screen height, 25vh: half of own height */
    left: calc(50% - 40vw); /* 50%: half of next relative parent element (#vocabContent), 40vw: half of own width */
    text-align: left;
    z-index: 20;
}

.popupDecksContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popupDecksContent input::placeholder {
    opacity: 1;
    color: #06062F;
}

.popup .editableCardDetails {
    color: #06062F;
    padding: 0 1rem;
    min-height: 3rem;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin: 0 0 1rem;
}

.popupDecksContent .editableCardDetails::placeholder {
    opacity: 1;
    color: #06062F;
}

.cardDetailsPopupBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.cardDetailsPopupBottom button {
    margin-bottom: 1rem;
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
}

.cardDetailsPopupBottom button:hover {
    animation: hover 0.2s forwards;
}

@keyframes hover {
    100% {
        background-color: #557CF3;
        color: white;
    }
}

.cardDetailsPopupBottom a {
    color: white;
}

.cardDetailsPopupBottom a:hover {
    color: rgb(255, 157, 157);
}

.cardDetailsPopupBottom a:focus {
    color: white;
}

/*---- dark Background ----*/

.darkBackground {
    position: absolute;
    top: -40px;
    left: 0;
    height: calc(100% + 40px); /* 100% of next relative parent element (#appContent), 40% for the 40px in top-property */
    width: calc(100vw - 2vh);
    animation: darkBackground 0.2s forwards;
    z-index: 10;
}

@keyframes darkBackground {
    100% { background-color: rgba(6, 6, 47, 0.69); } /*8vh: footer hight, 20px: half of image height, 1rem: padding and border on one side*/
}

.hidden {
    display: none;
}

#nameNewDeck {
    height: 2.5rem;
    width: 100%;
    padding: 0 1rem;
    border: none;
    border-radius: 15px;
    margin-bottom: 1rem;
    font-size: 20px;
}

.popupContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popupContent input {
    height: 2.5rem;
    width: 70%;
    padding: 0 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 15px;
    font-size: 20px;
}

#submitDeck:hover {
    animation: hover 0.1s forwards;
}

@keyframes hover {
    100% {
        background-color: #557CF3;
        color: white;
    }
}

/*---- popup classes for the popup in games*/
.popupContentGames {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popupQuestionMark {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: scroll;
}

.gamesQuestionMarkP {
    margin-bottom: 1rem;
}

.gamesPopupDeckSelectionH2 {
    margin-bottom: 1.5rem;
}

.gamesPopupDeckSelectionP:hover {
    color: #557CF3;
    cursor: pointer;
}

.selectSideContainer {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sides {
    height: 100%;
    width: 48%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sides:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}