.progressBar {
    
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.progressBar .total {
    /* background: red; */
    background: gray;
    min-height: 20px;
    border-radius: 20px;
}

.progressBar .progress {
    /* background: red; */
    background: lightblue;
    min-height: 20px;
    background-image: linear-gradient(45deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent);
    border-radius: 20px;
}