.progressBar {
    font-size: .8rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    gap: 0.3rem;
}

.progressBar .total {
    background: #eee;
    border-radius: 1rem;
}

.progressBar .progress {
    height: .5rem;
    background: #37b554a8;
    --color-progressbar: #0091466a;
    background-image: linear-gradient(45deg,
            var(--color-progressbar) 25%,
            transparent 0,
            transparent 50%,
            var(--color-progressbar) 0,
            var(--color-progressbar) 75%,
            transparent 0,
            transparent);
    background-size: 2rem 2rem;
    border-radius: 1rem;
    /* border: 2px solid white; */
}