@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #06062F;
}

h1 {
  
}

h2 {
  
}

h3 {
  
}

p {
  
}

*:focus {
  outline: none;
}

/*------- important classes -------*/
.ContainerForHeaderBlankAndMain {
  height: 100vh; /* fixed hight since page is not supposed to be bigger than that */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ContainerForHeaderAndMain {
  min-height: 90vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mainContent {
  min-height: 70vh;
  padding: 6% 6% 10vh;
  display: flex;
  flex-direction: column;
}

/*------- Colour classes -------*/

.lightBlue {
  background-image: linear-gradient(#82A4F7, #557CF3);
  box-shadow: 1px 4px 5px rgb(131, 131, 131);
  color: white;
}

.darkBlue {
  background-image: linear-gradient(#403F9B, #28276A);
  box-shadow: 1px 4px 5px rgb(131, 131, 131);
  color: white;
}

.gray {
  background-image: linear-gradient(#8083C0, #5E619A);
  box-shadow: 1px 4px 5px rgb(131, 131, 131);
  color: white;
}

.pink {
  background-image: linear-gradient(#FC8994, #D07688);
  box-shadow: 1px 4px 5px rgb(131, 131, 131);
  color: white;
}